<?xml version="1.0" encoding="utf-16"?>
<AsteroidFilterAPIConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ActiveFilters>
    <AsteroidFilterInfo Name="RemoveNearGasGiant" Priority="10" />
  </ActiveFilters>
  <InactiveFilters />
</AsteroidFilterAPIConfig>