[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = suggestion
