name: "Upload Anomaly-Solaris-Hypernautics"

on:
  push:
    paths:
      - 'Anomaly-Solaris-Hypernautics/**'

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: AnarkisGaming/workshop@v1
        with:
          appID: 244850
          publishedFileID: 2983399274
          path: 'Anomaly-Solaris-Hypernautics'
          changelog: ${{ github.event.head_commit.message }}           
        env:
          STEAM_ACCOUNT_NAME: ${{ secrets.accountname }}
          STEAM_PASSWORD: ${{ secrets.password }}
